.test-component {
  background-color: var(--background);
  color: var(--font-color);
  padding: 16px;
  width: 360px;
  text-align: center;
}

.test-component .heading {
  font-size: var(--heading-font-size);
}